@import "tailwindcss";

:root {
  --background: #c4bbaf;
  --foreground: #5c4742;
  --font-sans: var(--font-montserrat);
}

@theme inline {
  --color-cream: #c4bbaf;
  --color-brown: #5c4742;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-montserrat), sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    @apply text-center
    m-4
    font-[700]
    text-2xl sm:text-3xl md:text-3xl lg:text-4xl;
  }
  h2 {
    @apply 
    font-[600]
    mx-4
    text-lg
    sm:text-xl
    md:text-2xl
    lg:text-2xl;
    ;
  }
  p {
    @apply 
    text-justify 
    mx-4
    text-sm sm:text-lg md:text-lg lg:text-lg;
  }

  header {
    @apply bg-brown 
    w-full h-20 p-4 
    flex justify-between 
    border-1 border-black 
    shadow-xl/15;
  }
  footer {
    @apply 
    text-center
    text-sm 
    m-4;
  }
}
@layer components {
  .head-text {
    @apply 
    text-cream 
    my-3
    ;
  }
}
